# s_grid
gridの練習用コード

html{
    font-size: 62.5%;
}
.body{
    height: 100%;
}

span{
    font-weight: bold;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}
p{

}
.Wrapper{
    max-width: 1611px;
    margin: 30px auto 0;
}
header{
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 12px ;
    background-color: #fcfcfc;
}

.nav_bottonm{
    display: flex;
    align-items: right;
    transform: translateX(120%);
    ul{
        display: flex;
        gap: 30px;
    }
}
.nav{
    margin-top: 40px;
    font-size: 14px;
    position: relative;
    top: 0;
    right: 5%;
}
.main_title{
    position: absolute;
    right: 5%;
    margin-top: 10px;
    writing-mode: vertical-rl; 
    font-size: 30px;
    font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif;
}
.main_comment{
    font-size: 14px;
    margin-right: 10%;
    margin-top: 5%;

}
.main_element {
    width: 1220px;   
    height: 860px;  
    border: 1px solid #eaeaea; 
}
.main_release > p{
    font-size: 13px;
    /* border: solid 1px yellow; */
    font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif;
    margin-left: 5%;
    margin: 40px;
    border-bottom: #eaeaea;
}
.content_Wrap > p{
    color: #eaeaea;
    margin-left: 40px;
    margin-bottom: 120px;
}
.content_title{
    display: flex;
    justify-content: space-between;
}
.content_title > h2{
    font-size: 40px;
    /* margin-left: 40px; */
}
.content_title > p{
    font-size: 20px;
    margin-top: 8%;
}
.content_main{
    display: flex;
    flex-direction: column;
}

